spring:
  application:
    name: collector
  config:
    # spring.config.import импорт конфигурации из другого источника (configserver:http://localhost:8888)
    import: configserver:http://localhost:8888
  cloud:
    config:
      fail-fast: true
      retry:
        useRandomPolicy: true
        max-interval: 6000